# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
TODO.md

# added from https://github.com/github/gitignore/blob/main/CMake.gitignore
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
build
tests/extern/
*.cmake
docs/html/annotated.html
docs/html/bc_sd.png
docs/html/bc_s.png
docs/html/classDiskMatrix.html
docs/html/classDiskMatrix-members.html
docs/html/classes.html
docs/html/clipboard.js
docs/html/closed.png
docs/html/cookie.js
docs/html/dir_017ad5e908c41501f6a06b5119b37293.html
docs/html/dir_31f1a79d6902317d51177998ddddaa64.html
docs/html/dir_4fef79e7177ba769987a8da36c892c5f.html
docs/html/dir_59425e443f801f1f2fd8bbe4959a3ccf.html
docs/html/dir_5bb22a5da04657b785cc2475a14cdef1.html
docs/html/dir_5ccf6f5f6f8f5a0c68d52188c0c1e2bd.html
docs/html/dir_63772b626f2709090f0bdca0f40827b4.html
docs/html/dir_68267d1309a1af8e8297ef4c3efbcdba.html
docs/html/dir_830341a7a1fadfc9d19097453b54c24d.html
docs/html/dir_9f6dc51727e6b8aa9896b3ff5053853f.html
docs/html/dir_c787e787158fd710b46a5bbd2f616188.html
docs/html/dir_d44c64559bbebec7f509842c48db8b23.html
docs/html/dir_d7141d026213b50500755a66e062e007.html
docs/html/dir_e1a715d407a4074a9fa63b2e02ec2b8f.html
docs/html/dir_e50b5e596ea7fd3b3876850f33cb4b65.html
docs/html/dir_ee532ceb613f48f23d20ef02624c3a91.html
docs/html/dir_ffd6e403e08dcbb968fd672b6379377b.html
docs/html/DiskMatrix_8h_source.html
docs/html/docd.svg
docs/html/doc.svg
docs/html/doxygen_crawl.html
docs/html/doxygen.css
docs/html/doxygen.svg
docs/html/dynsections.js
docs/html/files.html
docs/html/folderclosedd.svg
docs/html/folderclosed.svg
docs/html/folderopend.svg
docs/html/folderopen.svg
docs/html/index.html
docs/html/jquery.js
docs/html/mathutils_8h_source.html
docs/html/md__2home_2mk8bk_2programming_2cpp_2projects_2linopt_2TODO.html
docs/html/menudata.js
docs/html/menu.js
docs/html/minusd.svg
docs/html/minus.svg
docs/html/nav_fd.png
docs/html/nav_f.png
docs/html/nav_g.png
docs/html/nav_hd.png
docs/html/nav_h.png
docs/html/navtree.css
docs/html/open.png
docs/html/pages.html
docs/html/plusd.svg
docs/html/plus.svg
docs/html/resize.js
docs/html/search
docs/html/splitbard.png
docs/html/splitbar.png
docs/html/sync_off.png
docs/html/sync_on.png
docs/html/tab_ad.png
docs/html/tab_a.png
docs/html/tab_bd.png
docs/html/tab_b.png
docs/html/tab_hd.png
docs/html/tab_h.png
docs/html/tabs.css
docs/html/tab_sd.png
docs/html/tab_s.png
docs/latex/annotated.tex
docs/latex/classDiskMatrix.tex
docs/latex/DiskMatrix_8h_source.tex
docs/latex/doxygen.sty
docs/latex/etoc_doxygen.sty
docs/latex/files.tex
docs/latex/index.tex
docs/latex/longtable_doxygen.sty
docs/latex/Makefile
docs/latex/mathutils_8h_source.tex
docs/latex/md__2home_2mk8bk_2programming_2cpp_2projects_2linopt_2TODO.tex
docs/latex/refman.tex
docs/latex/tabu_doxygen.sty
